# Proyecto Integrador Machine Learning por Francisco Garcia.

### Proceso de ETL:

Este proceso lo haremos relativamente rapido, ya que la presentacion del proyecto es en poco tiempo y el objetivo es deployar la API. Aun asi dejaremos la base lo mejor posible

Importamos librerias a utilizar.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('data\movies_dataset.csv', index_col='id', low_memory=False)
data.head()

,adult,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
id,,,,,,,,,,,,,,,,,,,,,
862,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
8844,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
15602,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
31357,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
11862,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Podemos Observar en primera instancia varias cosas.
- Hay bastantes faltantes
- Tenemos columnas con datos anidados.
- hay columnas que no nos sirven.

In [5]:
#Hacemos un info al dataset para una vista general.
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45466 entries, 862 to 461257
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   imdb_id                45449 non-null  object
 6   original_language      45455 non-null  object
 7   original_title         45466 non-null  object
 8   overview               44512 non-null  object
 9   popularity             45461 non-null  object
 10  poster_path            45080 non-null  object
 11  production_companies   45463 non-null  object
 12  production_countries   45463 non-null  object
 13  release_date           45379 non-null  object
 14  revenue                45460 non-null  float64
 15  runtime                45203 non-null  float64
 16  spoken_languages       45460 non-null  object
 17  status                 45379 non-null  object
 18  tagline                20412 non-null  object
 19  title                  45460 non-null  object
 20  video                  45460 non-null  object
 21  vote_average           45460 non-null  float64
 22  vote_count             45460 non-null  float64
dtypes: float64(4), object(19)
memory usage: 8.3+ MB

Con el uso de info() podemos observar que varias columnas no tienen el tipo de dato bien definido. Nos encargaremos de esto mas tarde.

In [7]:
#Eliminamos posibles duplicados.
df = data.drop_duplicates()

Eliminamos las siguientes columnas que segun la documentacion no seran necesarias: ['video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path', 'homepage']

In [8]:
cols_drop = ['video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path', 'homepage']
df = df.drop(cols_drop, axis=1)

Procedemos a chequear los valores faltantes en cada columna.

In [10]:
#lista de columnas actuales del df
columnas_df = ['belongs_to_collection', 'budget', 'genres', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average']

In [11]:
cols_with_missing = [column for column in columnas_df if df[column].isnull().sum() != 0]
cols_with_missing

['belongs_to_collection',
 'original_language',
 'overview',
 'popularity',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'vote_average']